.mat-mdc-unelevated-button>.mat-icon, .mat-mdc-raised-button>.mat-icon, .mat-mdc-outlined-button>.mat-icon {margin:0px}
.mat-toolbar-row h3 {margin:0px;font-size: 1.1em;color: #fff;}
.mat-toolbar-multiple-rows{background-color: #354d72}
.mat-toolbar-multiple-rows{color:#fff}
span.mat-mdc-button-ripple{border-color: rgba(255,255,255,0.6);}