<mat-toolbar>
    <mat-toolbar-row>
      <h3><span>{{(getCurrentId() ? 'Edycja urządzenia: ' : 'Nowe urządzenie ')}}</span><span>{{dealForm.controls['name'].value}}</span> </h3>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button  mat-dialog-close tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar-row>
  
  </mat-toolbar>

  <form novalidate  [formGroup]="dealForm" (ngSubmit)="onSubmit(dealForm)">

    <mat-tab-group animationDuration="0ms" style="height: 100%">
  
      <mat-tab label="Dane podstawowe" style="height: 100%">
              <div class="mat__tab__content">
  
  
  
            <div class="item">
              <fieldset>
                <legend> Dane urządzenia </legend>
  
                    <mat-form-field class="width20Procent">
                      <mat-label>nazwa urządzenia</mat-label>
                      <input matInput placeholder="nazwa urządzenia"  formControlName="name">
                      </mat-form-field>
  
                    <mat-form-field class="width20Procent">
                      <mat-label>typ</mat-label>
                        <input matInput placeholder="typ"  formControlName="type">
                    </mat-form-field>
  
                    <mat-form-field class="width10Procent">
                      <mat-label>nr fabryczny</mat-label>
                        <input matInput placeholder="nr fabryczny"  formControlName="sn">
                      </mat-form-field>
                    
                      <mat-form-field class="width20Procent">
                        <mat-label>producent</mat-label>
                          <input matInput placeholder="producent"  formControlName="producer">
                    </mat-form-field>

                    <mat-form-field class="width10Procent">
                      <mat-label>rok prod.</mat-label>
                        <input matInput placeholder="rok"  formControlName="year_production">
                  </mat-form-field>
                  
                 
                    <mat-checkbox  color="primary" class="width10Procent" style="display: flex;"
                    formControlName="active">aktywny</mat-checkbox>
                
                  

                </fieldset>
            </div>

            <div class="item">
              <fieldset>
                <legend> Serwis/Gwarancja </legend>
  
                    <mat-form-field class="width20Procent">
                      <mat-label>umowa serwisowa</mat-label>
                      <input matInput placeholder="umowa serwisowa "  formControlName="deal_service">
                      </mat-form-field>
  
                    <mat-form-field class="width20Procent">
                      <mat-label>nr umowy</mat-label>
                        <input matInput placeholder="nr umowy"  formControlName="number_of_deal">
                    </mat-form-field>
  
                    <mat-form-field class="width20Procent">
                      <mat-label>stary serwis</mat-label>
                        <input matInput placeholder="stary serwis"  formControlName="deal_old_service">
                      </mat-form-field>
                      <mat-form-field class="width20Procent">
                        <mat-label>koniec gwarancji</mat-label>
                        <input matInput [matDatepicker]="end_of_quarantee" formControlName="end_of_quarantee">
                        <mat-datepicker-toggle matSuffix [for]="end_of_quarantee"></mat-datepicker-toggle>
                        <mat-datepicker #end_of_quarantee></mat-datepicker>
                  </mat-form-field> 
                   
                </fieldset>

                <fieldset>
                  <legend>Przeglądy </legend>
    
                  <mat-form-field class="width20Procent">
                    <mat-label>ostatni przegląd</mat-label>
                    <input matInput [matDatepicker]="date_of_last_inspection" formControlName="date_of_last_inspection">
                    <mat-datepicker-toggle matSuffix [for]="date_of_last_inspection"></mat-datepicker-toggle>
                    <mat-datepicker #date_of_last_inspection></mat-datepicker>
                  </mat-form-field>
    
                  <mat-form-field class="width20Procent">
                        <mat-label>przeglądy-okres(RR:MM:DD)</mat-label>
                          <input matInput appInspectionPeriod placeholder="przeglądy-okres(RR:MM:DD)"  formControlName="inspection_period"  [preValue]="dealForm.value.inspection_period"  [phoneControl]="dealForm.controls['inspection_period']">
                          <!-- <input matInput  placeholder="przeglądy-okres(RR:MM:DD)"  formControlName="inspection_period"  > -->
                  </mat-form-field>
                  <mat-form-field class="width20Procent">
                    <mat-label>następny przegląd</mat-label>
                    <input matInput [matDatepicker]="date_of_next_inspection" formControlName="date_of_next_inspection">
                    <mat-datepicker-toggle matSuffix [for]="date_of_next_inspection"></mat-datepicker-toggle>
                    <mat-datepicker #date_of_next_inspection></mat-datepicker>
                  </mat-form-field>
    
                                      
                  </fieldset>
            </div>

            
            <div class="item">
             
            </div>

            <div class="item">
              <fieldset>
                <legend>Dane szpitalne</legend>
  
                <mat-form-field>
                  <mat-label>Oddział</mat-label> 
                  <input matInput placeholder="wybierz oddział"  formControlName="opk" [matAutocomplete]="opk">
                  <mat-autocomplete #opk="matAutocomplete">
                    <mat-option *ngFor="let option of opks" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
  
  
                <mat-form-field class="width20Procent">
                  <mat-label>nr inwentarzowy</mat-label>
                    <input matInput placeholder="nr inwentarzowy"  formControlName="inventory_number">
               </mat-form-field>                                      
                </fieldset>
            </div>
            
            <div class="item" style="align-self: stretch;">
              <fieldset style="width: 100%;">
                <legend>Uwagi </legend>
                      <ng-container formArrayName="comments">
                        <div [ngClass]="'changeDeal'">
                          <div style="flex-basis: 100%;margin-bottom: 1em;display: flex;">
                            <button  type="button" mat-stroked-button matTooltip="dodaj"  (click)="addInfo('comments',newInfo)"  class="color-redish"><mat-icon>event_note</mat-icon>&nbsp;dodaj</button>
                            <button  [matMenuTriggerFor]="appMenu" type="button" mat-stroked-button matTooltip="wstaw datę"   class="color-redish">
                              <mat-icon>calendar_today</mat-icon>&nbsp;wstaw datę</button>
                              
                              <mat-menu #appMenu="matMenu">
                                   <mat-calendar #calendar 
                                      (selectedChange)="selectf($event)"                                      
                                      >
                                   </mat-calendar>
                              </mat-menu>
                          </div>
                        <ng-container *ngFor="let comment of comments.controls; let i = index">
      
                            <div formGroupName="{{i}}" style="display:flex;flex-direction: row;">
      
      
                              <mat-form-field [ngClass]="'widthx3'">
                                <textarea
                                placeholder="uwagi"  formControlName="comment"
                                matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6" 
                                (focusout)="focusOutComment($event,i)" >
                              </textarea>
                              </mat-form-field>
                              <!-- <span style="display: flex;"><button type="button" (click)="addToday('comments',i)"  mat-icon-button> <mat-icon>delete_forever</mat-icon></button></span> -->
                            
                              <span style="display: flex;"><button type="button" (click)="removeInfo('comments',i)"  mat-icon-button> <mat-icon>delete_forever</mat-icon></button></span>
                            </div>
                        </ng-container>
                      </div>
                      </ng-container>
              </fieldset>
            </div>
         
        </div>
  
  
  
  
  
      <div>
        <mat-form-field class="invisible">
          <input matInput type="text" formControlName="_id" >
        </mat-form-field>
        <mat-form-field class="invisible">
          <input matInput type="text" formControlName="__v" >
        </mat-form-field>
  
      </div>
    </mat-tab>
    
    <mat-tab label="Zestawy" *ngIf="dealForm!=undefined">
      <ingredient></ingredient>
    </mat-tab>

    <!-- <mat-tab label="Załączniki" [disabled]="dealForm.invalid || !currentDeal?._id"> -->
    <!-- <mat-tab label="Załączniki" *ngIf="dealForm!=undefined && getCurrentId()!=null"> -->
    <mat-tab label="Załączniki" *ngIf="dealForm!=undefined">
      <fileupload  *ngIf="dealForm!=undefined" [config]="file_upload_config" [_id]="getCurrentId()" [formData]="dealForm" (onFormGroupChange)="onChange($event)"> </fileupload>
      <attachment-list></attachment-list> 
    </mat-tab>
  </mat-tab-group>
  
  
  
  <mat-dialog-actions style="display: flex; flex-flow: row;margin-top: 1em;border-top:1px solid black">
    <!-- <button class="mat-raised-button" mat-dialog-close style="align-self: flex-start;">Zamknij</button> -->
    <button  mat-stroked-button type="button" (click)="getFormValidationErrors()" style="align-self: flex-start;">Zamknij</button> 
    <button mat-stroked-button type="submit" [color]="'greenish'"  [disabled]="dealForm.invalid" style="margin-left: auto;align-self: flex-start;">Zapisz</button>
  </mat-dialog-actions>
  {{dealForm.invalid|json}}
  </form>
