<div class="container">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  
  </div>
  
  
    <mat-toolbar id="topBar">
    <mat-toolbar-row>
      <!-- <button   mat-stroked-button matTooltip="dodaj"  (click)="addLogBook()"  class="edit"><mat-icon>exposure_plus_1</mat-icon>&nbsp;dodaj kartę</button> -->
      <!-- <button   mat-stroked-button  (click)="findErrors()"  class="edit"><mat-icon>error_outline</mat-icon>&nbsp;dodaj kartę</button> -->
      <!-- <span class="fill-remaining-space"></span> -->
        <form novalidate  [formGroup]="filterDateForm">
  
  
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Data nast. przeglądu od-do</mat-label>
            <mat-date-range-input [rangePicker]="date_of_issue_start_stop">
              <input matStartDate placeholder="Data od" formControlName="date_of_next_inspection_start" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
              <input matEndDate placeholder="Data do" formControlName="date_of_next_inspection_stop" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="date_of_issue_start_stop"></mat-datepicker-toggle>
            <mat-date-range-picker #date_of_issue_start_stop>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Anuluj</button>
                <button mat-raised-button color="primary" matDateRangePickerApply (click)="chooseDateRange()" #chooseDateButton>Wbierz</button>
                <!-- <button mat-raised-button color="primary" matDateRangePickerApply #chooseDateButton>Wbierz</button> -->
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>szukaj:&nbsp;{{searchLabel}}</mat-label>
            <input matInput placeholder="szukaj" [matAutocomplete]="auto" formControlName='name'>
          </mat-form-field>
          <!-- <span>Twój wybór: {{filterDateForm.get('deal_name')?.value | json}}</span> -->
  
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
            <ng-container *ngIf="isLoading">
              <mat-option *ngFor="let deal of registerItems" [value]="deal.number_of_deal">
                <span>{{ deal.number_of_deal }}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </form>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <table mat-table #table [dataSource]="dataSource" matSort multiTemplateDataRows mat-elevation-z8 matSortActive="name" matSortDirection="asc" matSortDisableClear>
  
  
    <!-- ['date_of_sign','do']; -->
    <ng-container matColumnDef="left">
      <th mat-header-cell *matHeaderCellDef ><span style="color: red;"><mat-icon>alarm</mat-icon></span></th>
      <td mat-cell *matCellDef="let element"> {{global_utilities.howManyDays(element.date_of_next_inspection)}} <td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa Urządzenia</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} <td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} <td>
      <!-- <td mat-cell *matCellDef="let element"> {{element.date|date:'y.MM.dd':'+0000':'pl'}} <td> -->
    </ng-container>
  
    <ng-container matColumnDef="sn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer fabryczny</th>
      <td mat-cell *matCellDef="let element"> {{element.sn}} <td>
    </ng-container>
  
  
    <ng-container matColumnDef="producer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Producent</th>
      <td mat-cell *matCellDef="let element"> {{element.producer}} <td>
    </ng-container>
  
    <ng-container matColumnDef="year_production">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok</th>
      <td mat-cell *matCellDef="let element"> {{element.year_production}} <td>
    </ng-container>
  
    <ng-container matColumnDef="deal_service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header align="center" class="header-align-right">Serwis</th>
      <td mat-cell *matCellDef="let element" align="right"> {{element.deal_service}} <td>
    </ng-container>

    <ng-container matColumnDef="number_of_deal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header align="center" class="header-align-right">Nr umowy</th>
      <td mat-cell *matCellDef="let element" align="right"> {{element.number_of_deal}} <td>
    </ng-container>

    <ng-container matColumnDef="deal_old_service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header align="center" class="header-align-right">Stary serwis</th>
      <td mat-cell *matCellDef="let element" align="right"> {{element.deal_old_service}} <td>
    </ng-container>
  
    <ng-container matColumnDef="opk">
      <th mat-header-cell *matHeaderCellDef  align="center" class="header-align-right">Oddział</th>
      <td mat-cell *matCellDef="let element" align="right"> {{element.opk}} <td>
    </ng-container>

    <ng-container matColumnDef="date_of_last_inspection">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Data przeglądu</th>
      <td mat-cell *matCellDef="let element" align="center">{{element.date_of_last_inspection|date:'dd.MM.y':'+0000':'pl'}} <td>
    </ng-container>

    <ng-container matColumnDef="date_of_next_inspection">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Następny przegląd</th>
      <td mat-cell *matCellDef="let element" align="center">{{element.date_of_next_inspection|date:'dd.MM.y':'+0000':'pl'}} <td>
    </ng-container>
  
    <ng-container matColumnDef="inventory_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer inwentarzowy</th>
      <td mat-cell *matCellDef="let element"> {{element.inventory_number}}<td>
    </ng-container>
   
    <ng-container matColumnDef="end_of_quarantee">
      <th mat-header-cell *matHeaderCellDef >Koniec gwarancji</th>
      <td mat-cell *matCellDef="let element"> {{element.end_of_quarantee}}<td>
    </ng-container>


    <ng-container matColumnDef="inspection_period">
      <th mat-header-cell *matHeaderCellDef >Przegląd okres</th>
      <td mat-cell *matCellDef="let element"> {{element.inspection_period}}<td>
    </ng-container>
  <!--
  
    <ng-container matColumnDef="description_car">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis</th>
      <td mat-cell *matCellDef="let element"> {{element.description_car?.substring(0,10)}} <td>
    </ng-container>
  
  
  
  
    <ng-container matColumnDef="description_service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Uwagi serwisu</th>
      <td mat-cell *matCellDef="let element"> {{element.description_service?.substring(0,10)}} <td>
    </ng-container> -->
  
  
  
    <ng-container matColumnDef="do" >
      <th mat-header-cell *matHeaderCellDef>Wykonaj</th>
      <td mat-cell *matCellDef="let element;let ind = dataIndex;">
        <!-- <button  (click)="editTownDialog(element)" mat-raised-button color="basic"><mat-icon style="font-size:1.2em">mode_edit</mat-icon>edycja</button>
        &nbsp;
        <button  (click)="deleteTown(element,ind)" mat-raised-button color="basic"><mat-icon style="font-size:1.2em">delete_forever</mat-icon>usuń</button>   -->
        <!-- <span  class="icon-narrow" matTooltip="edytuj"  mat-raised-button color="basic"><mat-icon style="font-size:1.2em">mode_edit</mat-icon></span> -->
       
        <!-- <button *ngIf="currentUser"  mat-button matTooltip="edytuj"  (click)="edit(element,ind);$event.stopPropagation()"><mat-icon>mode_edit</mat-icon></button>
        &nbsp;
          <button *ngIf="currentUser"  mat-button matTooltip="usuń"  (click)="delete(element,ind);$event.stopPropagation()"><mat-icon>delete_forever</mat-icon></button>
        &nbsp; -->
        <button  mat-button matTooltip="edytuj"  (click)="edit(element,ind);$event.stopPropagation()"><mat-icon>mode_edit</mat-icon></button>
        &nbsp;
          <button  mat-button matTooltip="usuń"  (click)="delete(element,ind);$event.stopPropagation()"><mat-icon>delete_forever</mat-icon></button>
        &nbsp;
          <button   mat-button matTooltip="szczegóły"  (click)="element.isExpanded = !element.isExpanded"><mat-icon *ngIf="element !== expandedElement">open_in_full</mat-icon><mat-icon *ngIf="element == expandedElement">close_fullscreen</mat-icon></button>
      <!-- <span  class="icon-narrow" matTooltip="usuń"  (click)="delete(element,ind)" mat-raised-button color="basic"><mat-icon style="font-size:1.2em">delete_forever</mat-icon></span> -->
      &nbsp;
  
      <td>
    </ng-container>
  
  
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
  
            <div style="display: flex;flex-flow: row wrap;">
             
              <div [ngClass]="'expandBox'">
                <h3 style="flex:1 1 100%;border-bottom: thin dashed rgba(112,112,112,0.5);color:red">Uwagi</h3>


                <div style="flex:1 1 100%">
                  
                  <table>
                    <th>Uwaga</th><th>Data wpisu</th>
                    <tr *ngFor="let comment of element.comments">
                        <td [ngClass]="comment"><span [ngClass]="'expandInfo'">{{comment.comment}}</span></td>
                        <td [ngClass]="comment"><span [ngClass]="'expandInfo'">{{comment.createdAt|date:'dd.MM.y hh:mm':'+0000':'pl'}}</span></td>                        
                    </tr>
                  </table>
                </div>
              </div>
              <!-- <div style="display: flex;flex-flow: row wrap;flex:1 1 100%">
                <h3 style="flex:1 1 100%;border-bottom: thin dashed rgba(112,112,112,0.5);color:red">Zgłoszenie</h3>
                <div style="flex:1 1 100%">
                  <div><span style="color:red">data zgłoszenia: </span>{{element.date_of_registration|date:'dd.MM.y':'+0000':'pl'}}</div>
                  <div><span style="color:red">jednostka zgłaszająca: </span> {{element.registration_business_unit}}</div>
                  <div><span style="color:red">osoba zgłaszająca: </span> {{element.registration_person}}</div>
                </div>
  
              </div> -->
            </div>
          </div>
          <div class="example-element-diagram">
            <div style="display: flex;flex-flow: row wrap;">
              <div [ngClass]="'expandBox'">
                <h3 style="flex:1 1 100%;border-bottom: thin dashed rgba(112,112,112,0.5);color:red">Urządzenie nadrzędne</h3>
                <div style="flex:1 1 100%">
                  <table>
                    <tr *ngFor="let source of element.cofinancing">
                        <td><span [ngClass]="'expandInfo'">{{source.source}}</span></td><td><span [ngClass]="'expandInfo'">{{source.value|currency:'zł':'symbol':'1.2-2':'pl'}}</span></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div [ngClass]="'expandBox'">
                <h3 style="flex:1 1 100%;border-bottom: thin dashed rgba(112,112,112,0.5);color:red">Urządzenia podrzędne </h3>
                <div style="flex:1 1 100%">
                  <table>
                    <tr *ngFor="let change of element.changeDeal">
                        <td><span [ngClass]="'expandInfo'">{{change.info}}</span></td><td><span [ngClass]="'expandInfo'">{{change.date|date:'dd.MM.y':'+0000':'pl'}}</span></td>
                    </tr>
                  </table>
                </div>
              </div>
             

            </div>
          </div>
          <div class="example-element-diagram">
            <div style="display: flex;flex-flow: row wrap;">
              <div style="display: flex;flex-flow: row wrap;flex:1 1 100%">
                <h3 style="flex:1 1 100%;border-bottom: thin dashed rgba(112,112,112,0.5);color:red">Załączniki </h3>
                <div style="flex:1 1 100%">
                  <ul>
                    <!-- <li *ngFor="let file of element.files"><a href="/rejestr/download/{{element._id}}/{{file.filename}}" download>{{file.filename}}</a></li> -->
                    <li *ngFor="let file of element.files"><a href=""  download=""  (click)="download(file.filename,element._id)">{{file.filename}}</a></li>
                  </ul>
                </div>
              </div>
          </div>
          </div>
        </div>
      </td>
    </ng-container>
  
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    class="example-element-row" 
    [ngClass]="alertClass | getAlertClass:[{date_of_next_inspection:row.date_of_next_inspection, alertUrgentDate:alertUrgentDate,alertWarnDate:alertWarnDate}]"
      [class.student-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row"
      >
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
    
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                   showFirstLastButtons itemsPerPageLabel="item per pagelabel"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  
  
  
  </div>
  
  
  
  
  
  
