<mat-toolbar>

    <mat-toolbar-row>
      <!-- <a routerLink="/"><span style="font-size: 1.5em;"><mat-icon>house</mat-icon></span></a> -->
      <a routerLink="/" routerLinkActive="focus__item" >Aparatura medyczna</a>
      <!-- <a routerLink="/nowa" routerLinkActive="focus__item" >Nowa umowa</a> -->
      <a *ngIf="currentUser" (click)="newDeal()" routerLinkActive="focus__item"  style="color:red">Nowa umowa<span><mat-icon>plus_one</mat-icon></span></a>


      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="settingsMenu" *ngIf="checkGrant('Ustawienia')">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item (click)="goto('Ustawienia')"> <mat-icon> manage_accounts </mat-icon>Ustawienia</button>
        <!-- <button mat-menu-item (click)="showSnackbar()"> <mat-icon> manage_accounts </mat-icon>snackbar</button> -->

        <!-- <button *ngIf="!currentUser" mat-stroked-button  class="menu__button" (click)="goto('login')">Zaloguj się</button> -->
        <button *ngIf="checkGrant('Administracja')" mat-menu-item (click)="goto('Administracja')"><mat-icon>admin_panel_settings</mat-icon>Panel admin.</button>
        <input  #csvInput hidden="true" type="file" onclick="this.value=null" (change)="onFileSelect($event)" accept=".csv"/>
        <button *ngIf="checkGrant('Administracja')"   mat-menu-item (click)="csvInput.click();setCvsSourceFun('Organizacyjny')"><mat-icon>import_export</mat-icon>Import-organizacyjny</button>
        <button *ngIf="checkGrant('Administracja')"   mat-menu-item (click)="csvInput.click();setCvsSourceFun('Zamowienia')"><mat-icon>import_export</mat-icon>Import-zamówienia <mat-checkbox [labelPosition]="labelPosition" style="color:red" [(ngModel)]="checked" (click)="checkClick($event)" >spr.nr</mat-checkbox></button>
        <button *ngIf="checkGrant('Administracja')"   mat-menu-item (click)="csvInput.click();setCvsSourceFun('Znajdź brakujace')"><mat-icon>import_export</mat-icon>Znajdź brakujace <mat-checkbox [labelPosition]="labelPosition" style="color:red" [(ngModel)]="checked" (click)="checkClick($event)" >spr.nr</mat-checkbox></button>
        <button *ngIf="currentUser" mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Wyloguj</button>
      </mat-menu>


      <!-- <a *ngIf="checkGrant('Administracja')" routerLink="/Administracja" mat-stroked-button routerLinkActive="focus__item"><span style="font-size: 1.5em;"><mat-icon>admin_panel_settings</mat-icon></span>Panel admin.</a>
      <button *ngIf="currentUser" mat-stroked-button  class="menu__button" (click)="logout()">Wyloguj</button> -->
      <a *ngIf="!currentUser" routerLink="/login"><button mat-stroked-button>Zaloguj się</button></a>
  </mat-toolbar-row>
</mat-toolbar>
