<form [formGroup]="passwordFormGroup">

    <!-- <h2 mat-dialog-title class="mat__title">Zmień hasło</h2> -->
    <fieldset>
      <legend> Zmień hasło </legend>

    <mat-dialog-content>



      <mat-form-field class="email" color="accent">
          <input matInput type="password" placeholder="hasło" formControlName="passwordCtrl" >
          <mat-error *ngIf="passwordFormGroup.controls['passwordCtrl'].hasError('required')">
            Hasło jest<strong> wymagane</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field class="email" color="accent">
          <input matInput type="password" placeholder="potwierdź hasło" formControlName="confirmPasswordCtrl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordFormGroup.hasError('mismatch')">
            hasła nie są <strong>jednakowe!</strong>
          </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>

      <button (click)="updatePaasword()" mat-raised-button color="warn" [disabled]="!passwordFormGroup.valid">Zapisz</button>

    </mat-dialog-actions>
    </fieldset>
  </form>

